langchain==0.2.10
langchain-openai==0.1.17
python-dotenv==1.0.1
langchain-groq==0.1.6
langchain-community==0.2.10
bs4==0.0.2                  #beaautiful soup packages for web scrapping
unstructured==0.15.0         #unstructured data loading
pypdf == 4.3.1
wikipedia==1.4.0
langchain-chroma==0.1.2     # Vector DB for chroma
langchain_ollama # ollama for embeddings
langserve==0.2.2
langgraph==0.1.19
langchainhub # used to automatically
 